body{
	background-color:#666666;
	padding:2.5%;
}	
header{
	width:100%;
	height:15%;
	background-color:#003366;

}


h1{
	text-align:center;
	color:#FFF;
}
#wrapper{
	margin-left: 20%;
	width: 750px;
	height: 450px;
	background-color:#CCCCCC;
}

#formatting_style{ 

	padding-top:1%;
	padding-bottom:1%;
	padding-left:10%;

}
#container{
	float:left;	
	width: 90%;
	height:100%;
		
}

.format_buttons{
	width:auto;
	height:auto;
	text-align:center;	
}	


#text{
	border: 1px solid black;
	margin-left:1%;
	width:80%;
	height:50%;
	text-align:justify;
	font-size:14px;
	background-color:#FFF;
}
label{
	padding-left:1%;
	
}
#rgb_values{
	padding-top:1%;
	padding-left:10%;	
}
#rgb_form{	
		padding-top:1%;
}